@font-face {
  font-family: 'Black Ops One';
  src: url('/src/assets/fonts/Black_Ops_One/BlackOpsOne-Regular.ttf') format('truetype');
  font-display: swap;
}
html, body {
  height: 100%;
  background: rgb(255, 255, 255);
  font-family: 'Black Ops One', system-ui;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.0em; /* Base font size for better scalability */
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

*::before,
*::after {
  box-sizing: inherit;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 75em; /* 1200px */
  padding: 1.25em; /* 20px */
  flex: 1;
}

/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other elements */
}

/* Popup Box */
.popup-box {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  max-width: 500px;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Popup Image */
.popup-image {
  width: 100%;
  max-width: 600px; /* Optional: adjust based on your design */
  height: auto;
  margin: 10px 0;
}

/* Popup Close Button */
.popup-close-btn {
  padding: 10px 20px;
  background-color: #0D7CE9; /* Blue button */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.popup-close-btn:hover {
  background-color: #005bb5;
}

@media (max-width: 48em) { /* Below 768px */
  html {
    font-size: 1em; /* Slightly smaller base font size */
  }
  .content {
    padding: 1em; /* Reduce padding for smaller screens */
  }
}

@media (min-width: 48em) and (max-width: 75em) { /* Between 768px and 1200px */
  .content {
    padding-left: 1.25em; /* 20px */
    padding-right: 1.25em; /* 20px */
  }
}

@media (min-width: 75em) { /* Above 1200px */
  .content {
    padding-left: 2.5em; /* 40px */
    padding-right: 2.5em; /* 40px */
  }
}
