/* Basic styling for the  page */
.projects-page {
  padding: 20px;
  background: rgb(255, 255, 255);
  margin: 80px auto;
  max-width: 1200px;
  text-align: center;
}

/* Center the title */
.projects-page h1 {
  margin-bottom: 20px;
}

/* project list with added padding */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Style for each project item */
.project-item {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  width: 350px;  /* Increased width */
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.project-item:hover {
  background-color: #f1f1f183;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Button styling */
.details {
  background-color: #0D7CE9;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.details:hover {
  background-color: #0056b3;
}

.details.disabled {
  background-color: #7b7b7b;
  color: rgb(255, 255, 255)dfd;
  cursor: not-allowed;
  opacity: 0.6;
  border: none;
}

.details.disabled:hover {
  background-color: #7b7b7b;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .project-item {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .project-item {
    width: 95%;
  }
}
