/* Short Roadmap Section */
.short-roadmap {
    padding: 40px 20px;
    background:  rgb(255, 255, 255);
    color: #333;
    text-align: center;
}

.short-roadmap h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
}

/* Milestones Container */
.milestones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

/* Individual Milestone */
.milestone {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    padding: 40px;
    background: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: 0 6px 15px rgba(17, 17, 17, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Milestone Icon */
.milestone-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    background: #0D7CE9;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.milestone-icon.completed {
    background: #0D7CE9;
}

/* Milestone Content */
.milestone-content h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #0D7CE9;
}

.milestone-content p {
    font-size: 1rem;
    color: #3d3d3d;
}

/* Responsive Design */
@media (max-width: 768px) {
    .short-roadmap {
        padding: 0;
    }
    .milestones {
        flex-direction: column;
        align-items: center;
    }

    .milestone {
        border-radius: 0%;
        max-width: 380px;
        height: 200px;
        width: 100%;
    }
    .milestone-icon,
    .milestone-icon.completed {
        padding: 15px;
        border-radius: 10%
    }
}
